@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html {
    font-size: 14px;
    background: #2c2c2c;
    color: white;

}
.readme{
    font-family: 'Anonymous Pro';
}
.stats {
    width: 60vmax;
    max-width: 1000px;
}
body {
    background: #2c2c2c;
    color: white;
    text-decoration: none;
}
header {
    background: #2c2c2c;
    color: gray;
    text-decoration: none;
}
nav {
    background: #2c2c0c;
    color: gray;
    text-decoration: none;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
a {
    color: #0d6efd;
    text-decoration: none;
}
div .text {
    border-radius: 4vh;
    border: solid white;
    border-width: 4px;
}
p {
    margin-right: 5vh;
    margin-left: 5vh;
    text-height: 0.5vh;
}
img {
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    
}

body {
  margin-bottom: 60px;
}