@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html {
    font-size: 14px;
    background: #2c2c2c;
    color: white;

}
.app_name {
    font-size: calc(12px + 1vmax);
}
.readme{
    font-family: 'Anonymous Pro';
}
.stats {
    width: 60vmax;
    max-width: 1000px;
}
body {
    background: #2c2c2c;
    color: white;
    text-decoration: none;
}
header {
    background: #2c2c2c;
    color: gray;
    text-decoration: none;
}
nav {
    background: #2c2c0c;
    color: gray;
    text-decoration: none;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.absolute {
    position: absolute;
}
.fixed {
    position:fixed;
}
.right-1vm {
    right: 1vmax;
}
.left-1vm {
    left: 1vmax;
}
html {
  position: relative;
  min-height: 100%;
}
a {
    color: #0d6efd;
    text-decoration: none;
}
div .text {
    border-radius: 4vh;
    border: solid white;
    border-width: 4px;
}
.margin-2-vm {
    margin: 2vmax;
}
.underline{
    text-decoration-line: underline;
}
.hover\:decoration-wavy:hover {
    text-decoration-style: wavy
}
.dashed {
    text-decoration-style: dashed;
}
.decoration-purple{
    text-decoration-color: purple;
}
p {
    margin-right: 5vh;
    margin-left: 5vh;
    text-height: 0.5vh;
}
img {
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    
}
.bot-1 {
    padding-bottom: 1vmax;
}
body {
  margin-bottom: 60px;
}
.margin-left-2-vm{
    margin-left: 2vmax;
}
.margin-right-2-vm {
    margin-right: 2vmax;
}

.width-4 {
    width: 4vmax;
}
.blurple {
    color: #5865F2;
}