@page
@model IndexModel
@{
    ViewData["Title"] = "YaFlay";
}

<h3 align="left" class="readme" >README.md</h3>  

@{
    string Github_readme = Startup.client.GetStringAsync("https://raw.githubusercontent.com/yawaflua/yawaflua/main/README.md").Result;
    <div class="text"> @Html.Raw(Github_readme) </div>
}

