@page
@model IndexModel
@{
    ViewData["Title"] = "YaFlay";
}
<h3 align="left" class="readme" >README.md</h3>
<div class="text">
    <p align='center'>
      <img src='https://user-images.githubusercontent.com/5713670/87202985-820dcb80-c2b6-11ea-9f56-7ec461c497c3.gif' width='200'>
    </p>
    <h1 align="center">Hi there, I'm <a href="https://yaflay.ru/shitpost" target="_blank">YaFlay</a> 
    <img src="https://github.com/blackcater/blackcater/raw/main/images/Hi.gif" height="32"/></h1>
    <h3 align="center"> .NET / Py backend-developer from Russian capital - Moscow  🇷🇺</h3>
    <p align="left"> I use this frameworks and apps: </p>
      <p align="center">
        <img src="https://img.shields.io/badge/postgres-%23316192.svg?style=for-the-badge&logo=postgresql&logoColor=white">
        <img src="https://img.shields.io/badge/.NET-5C2D91?style=for-the-badge&logo=.net&logoColor=white">
        <img src="https://img.shields.io/badge/django-%23092E20.svg?style=for-the-badge&logo=django&logoColor=white">
        <img src="https://img.shields.io/badge/flask-%23000.svg?style=for-the-badge&logo=flask&logoColor=white">
        <img src="https://img.shields.io/badge/jquery-%230769AD.svg?style=for-the-badge&logo=jquery&logoColor=white">
        <img src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white">
        <img src="https://img.shields.io/badge/nginx-%23009639.svg?style=for-the-badge&logo=nginx&logoColor=white">
      </p>
    <p align="left">I use or know these languages:</p>
    <p align="center">
      <img src="https://img.shields.io/badge/c%23-%23239120.svg?style=for-the-badge&logo=c-sharp&logoColor=white">
      <img src="https://img.shields.io/badge/c++-%2300599C.svg?style=for-the-badge&logo=c%2B%2B&logoColor=white">
      <img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white">
      <img src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=white">
      <img src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=white">
    </p>
    <p align="left">My social networks:</p>
    <p align="center">
        <a href="https://discord.gg/bump-1119294432949325955"><img src="https://img.shields.io/badge/Discord-%235865F2.svg?style=for-the-badge&logo=discord&logoColor=white"></a>
        <a href="https://t.me/yaflay_shitposts"><img src="https://img.shields.io/badge/Telegram-2CA5E0?style=for-the-badge&logo=telegram&logoColor=white"></a>
        <a href="https://twitch.tv/bebra_yaflay"><img src="https://img.shields.io/badge/Twitch-%239146FF.svg?style=for-the-badge&logo=Twitch&logoColor=white"></a>
        <a href="https://github.com/YaFlay" class="hiden"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white" /></a>
        <a href="https://github.com/PoopStore-Team" class="overflow-hidden"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"  /> <span class="visually-hidden-focusable">StoreSpw</span></a>

    </p>
    <p align="left">For support me:</p>
    <p align="center"> <a href="https://boosty.to/yaflay" align="left"><img src="https://img.shields.io/badge/sponsor-30363D?style=for-the-badge&logo=GitHub-Sponsors&logoColor=#EA4AAA" ></a></p>
    <p align="left"> My stats: </p>
    <p align="center" class="stats streak"><a href="https://git.io/streak-stats" ><img src="http://github-readme-streak-stats.herokuapp.com?user=YaFlay&theme=dark&hide_border=true&locale=ru&date_format=j%20M%5B%20Y%5D&sideLabels=EB5454" alt="GitHub Streak" class="stats" align="middle" /></a></p>
    <p align="left"> My top-using languages: </p>
    <p align="center" class="stats github"> <img src="https://github-readme-stats.vercel.app/api?username=YaFlay&layout=compact&bg_color=22272E&text_color=9F9F9F" class="stats"></p>
    <p align="center" class="stats top_language"> <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=YaFlay&layout=compact&bg_color=22272E&text_color=9F9F9F" class="stats" ></p>
    <p align="center">
       🌱 I’m currently learning Java and wanna learn Front-end(CSS, React)
    </p><p align="center">
       📫 If u wanna help, contact me in Discord: <a href="https://discord.com/users/945317832290336798">YaFlay</a>
    </p>
</div>